{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sent_lists list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>Senddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sent_list in sent_lists %}
            <tr>
                <td><a href="{{ path('sent_list_show', { 'id': sent_list.id }) }}">{{ sent_list.id }}</a></td>
                <td>{{ sent_list.etat }}</td>
                <td>{% if sent_list.sendDate %}{{ sent_list.sendDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sent_list_show', { 'id': sent_list.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
